
body{
    margin: 0;
    
}
.top{
    background-color: greenyellow;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.top-right{
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.box{
    position: relative;
}

.items1{
    width: 30px;
    height: 30px;
    background-color: grey;
    margin: 6px;
}
.bottom{
    background-color: grey;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pic{
    width: 50px;
    height: 50px;
    background-color: hotpink;
}
.b{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}