/* body{
    display: flex;
    justify-content: center;
    align-items: center; */

.box{
    background-color: sandybrown;
    width: 300px;
    height: 300px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.top{
    display: flex;
    align-items: center;
}
.circle{
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.mid{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.mid>div:first-child{
    margin-right: 40px;
}
.name{
    color: black;
    font-size: 40px;
    margin-left: 15px;
}
span{
    font-size: 25px;
    font-weight: bold;
} 
p{
    font-size: 25px;
    color: gray;
    margin-left: 5px;
    display: inline-block;
}

.bottom{
    width: 220px;
    height: 50px;
    background-color: green;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    
}
.word{
    color: white;
    margin-left: 0px;

}